- gender : male
- number of siblings: siblings
- index of family involvement: family_inv
- primary household language is not english: non_english
- presence of previous disability: prev_disab
- non-white race: non_white
- age at time of testing in months: age_test
- hearing loss is not severe: non_severe_hl
- whether mother has a high school diploma: mother_hs
- was hearing impairment identified by 3 months of age: early_ident

- outcome variable is a standardized test score of learning domains

In [1]:
import arviz as az
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pymc as pm



%config InlineBackend.figure_format = 'retina'
# Initialize random number generator
RANDOM_SEED = 8927
rng = np.random.default_rng(RANDOM_SEED)
az.style.use("arviz-darkgrid")

print(f"Running on PyMC v{pm.__version__}")

Running on PyMC v5.1.1

In [2]:
lsl_dr_df = pd.read_csv(pm.get_data("test_scores.csv"), index_col=0)

In [12]:
lsl_dr_df.describe().T

               count       mean        std   min   25%   50%   75%    max
score          207.0  84.193237  24.885590   0.0  68.0  87.0  98.0  144.0
male           207.0   0.512077   0.501066   0.0   0.0   1.0   1.0    1.0
siblings       207.0   1.125604   0.866682   0.0   1.0   1.0   2.0    3.0
family_inv     174.0   0.977011   1.002621   0.0   0.0   1.0   2.0    4.0
prev_disab     189.0   0.238095   0.427049   0.0   0.0   0.0   0.0    1.0
age_test       207.0  53.545894   3.631920  48.0  50.0  54.0  57.0   59.0
non_severe_hl  207.0   0.415459   0.493996   0.0   0.0   0.0   1.0    1.0
mother_hs      134.0   0.701493   0.459320   0.0   0.0   1.0   1.0    1.0

In [11]:
text_columns = [ x for x in lsl_dr_df if x not in lsl_dr_df.describe().columns]
for x in text_columns:
    print(lsl_dr_df[x].value_counts())

False    165
True      42
Name: non_english, dtype: int64
False    129
True      78
Name: early_ident, dtype: int64
False    107
True     100
Name: non_white, dtype: int64

In [13]:
lsl_dr_df.isna().sum()

score             0
male              0
siblings          0
family_inv       33
non_english       0
prev_disab       18
age_test          0
non_severe_hl     0
mother_hs        73
early_ident       0
non_white         0
dtype: int64